* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fafafa;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

.result {
    background-color: #212121;
    color:#fafafa ;
    border-radius: 8px 8px 0 0;
    padding: 20px;
    font-size: 2.5rem;
}

.buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;

}

.buttons button {
    padding: 20px;
    font-size: 1.5rem;
    text-align: center;
    transition: .2s all linear;
    border: none;
}

.buttons button:hover {
    background-color: #e0e0e0;
}

.buttons button:active{
    background-color: #bdbdbd;

}

.equals {
    background-color: #f57f17;
}