.center {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
}

table, th, td {
    border:1px solid black;
    border-collapse: collapse;
}

table {
    display: grid;
    width: 50%;
}
